---
const { node } = Astro.props;

const textContent = node.children.flat()[0].text.replace(/\n/g, "");
const id = textContent.toLowerCase().split(" ").join("-");
---

<h3 id={id}>
  {textContent}
</h3>
